<div id="footer_left">
  <div id="copyright">
    <span class="left">Yoursite © 2011</span>
  </div>
</div>            
<div id="footer_right">                
  <table border="0" cellspacing="5" cellpadding="5" style="border: none; margin: 0px;">
       <tr>
      <td>
        About us
      </td>
    </tr>
     </table>
     
</div>