<!-- params: lang, full_lang -->
<div id="search">
  <form action="/translation/search/<%= lang %>" method="get" accept-charset="utf-8">
    <div>Search in <%= full_lang %></div>
    <input type="text" name="search" value="" id="search_input">
    <input type="submit" value="Go">
  </form>
    
</div>