<div id="translation_main">
  <h1>Translation portal for Yoursite</h1>
  	<p>Help us to translate Yoursite into different languages.</p>
  	<p>Translation process is very easy. Choose one of the languages on the left and start to translate.</p>

  <h2>Translation Howto</h2>
  	<p>We have four basic statuses of every string to translate.</p>
  <ol>
    <li><span class='untranslated'>untranslated</span> - No human translation is done for this string</li>
    <li><span class='needs_review'>needs review</span> - String was translated but approval is required by admin</li>
    <li><span class='reviewed'>reviewed</span> - String translation is approved and ready to be used in Yoursite</li>
    <li><span class='improvement'>improvement</span> - An improvement or errors fix was added for the already reviewed string and waits for approval by admin.</li>
  </ol>

  <h2>Automatic machine translation</h2>
  <p>Untranslated strings have an automatic machine translation. Change it if appropriately or leave it if it is correct, then submit the string translation.</p>

  <h2>Reviewers and ordinary translators</h2>
  If you are a reviewer, your changes will not require confirmation and become 'reviewed' as soon as you submit them. If you are not a reviewer, your changes will have a status 'needs_review' and will require confirmation by admin. We will grant you reviewer right, once we are sure that you are serious about this work.

  <h2>Statistics</h2>
  On the 'View stats' page you can see how many sentences are there for every language: how many untranslated, reviewed, etc. You can directly jump to specific translation page from the statistics page.  

  <h2>Notifications</h2>
  If you set notifications to "Yes" for a specific language, then when new untranslated strings are added to this language set, you will receive a notification by email.

  <h2>Search</h2>
  You can search for a keywords in a translation set for specific language.  

</div>
